<!DOCTYPE html>
<html>

<head>
<!-- Primary Meta Tags -->
<title><%= title %></title>
<meta name="title" content="Meta Tags — Preview, Edit and Generate">
<meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="<%= app_link %> ">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:image" content="<%= imageDirectLink %>">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="<%= app_link %>">
<meta property="twitter:title" content="<%= title %>">
<meta property="twitter:description" content="<%= description %>">
<meta property="twitter:image" content="<%= imageDirectLink %>">

 
</head>

<body>
    <script>
        window.location.replace(`<%= imageDirectLink %>`);

    </script>
</body>
</html>